*{
    margin: 0;
    border: 0;
    font-family:'Arvo', serif;
    height: 100%;
}
body{
    background-color:black;
    text-align:center
} 
.menu_superior{
    background-color: black;
    height: 110px;
    display:flex;
    position:fixed;
    width: 100%;
    z-index: 1; /* fazer o elemento sobrepor outro*/
}
.menu_superior img{
    height: 60%;
    margin: 20px 100px;
}
.menu_superior .menu{
    margin-left: 49%;
    margin-top: 27.5px;
}
.menu button{
    height:auto;
    padding:15px 30px;
    margin-left: 30px;
    color:rgba(220, 235, 247, 0.966);
    background-color:black;
    border-style:solid;
    border-color:rgba(220, 235, 247, 0.966);
    border-width: 2px;
    border-radius: 2rem;
    font-family: 'Inconsolata', monospace;
    font-size:medium
}
.menu button:hover{
    cursor:pointer;
    color:white;
    background-color:rgba(128, 126, 126, 0.774);
    border-color:white;
}
.menu button:active{
    background-color:white;
    color:black;
}
.icone button{
    height:100%;
    background-color:black;
    margin-left: 200px;
    padding:0;
    max-width: 0;
}
.botao_menu, .botao_imagem:hover{
    cursor:pointer;
}
.texto{
    text-align:center;
    position:absolute;
    margin: 10% 15%;
    font-size:larger;
    padding:50px;
    background-color:rgba(220, 235, 247, 0.966);
    height:auto;/* elemento o ocupa o tamanho da tela inteira */
    border-radius:2rem;
}
.primeiro_paragrafo, .segundo_paragrafo{
    text-align:justify;
}
.destaque{
    font-family: 'Lobster', sans-serif;
    font-size: 35px; 
    text-shadow: 0.5px 0.5px rgb(100, 94, 94);
}
.destaque_superior{
    font-family: 'Lobster', sans-serif;
    font-size: 50px; 
    text-shadow: 1px 1px rgb(100, 94, 94);
}
.destaque_links{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}
.funcoes{
    font-weight:bold;
}
.anos_experiencia{
    font-style:italic
}
.minha_foto img{
    height:350px;
    padding:20px;
    border-width:10px;
    border-style:groove;
    border-color:#121212;
    background-color:#121212;
}
.conteudo_contato{
    display:flex;
    margin-top: 40px;
}
.contatos ul{
    text-align:justify;
    margin:40px 30px;
}
.contatos p{
    font-family: 'Inconsolata', monospace;
    text-align:justify;
    margin-left: 70px;
}
.contatos li{
    list-style-type:none; /* retirar os círculos da lista não ordenada */
}
.contatos i{
    font-size: 2em;
    color:aliceblue;
}
.contatos .midias{
    font-size: 1.5em;
    color:aliceblue
}
.contatos button{
    border-width:2px;
    background-color:black;
    border-radius:2em;
    padding:10px;
    margin-top:10px;
    box-shadow: 2px 2px  rgb(100, 94, 94);
}
.contatos button:hover{
    background-color:rgba(128, 126, 126, 0.774);
    cursor:pointer;
}
.experiencia, .contato{
    padding-top: 20%;
}

@media screen and (max-width: 768px){
    body{
        display:block;
    }
    .menu_superior{
        height:90px;
        position:fixed;
        z-index: 1;
        margin-top: 0
    }
    .menu_superior .icone{
        width:0;
    }
    .menu_superior .botao_imagem{
        margin-left: 10%;
    }
    .menu_superior img{
        margin: 25px 
    }
    .menu_superior .menu{
        height:90px;
        margin: 5% 32%;
        display:flex 
    }
    .menu_superior .botoes_menu{
        padding-right:50px;
        height: 90px;
        display:flex 
    }
    .menu_superior .botoes_menu a{
        height: 0px;
    }
    .menu button{
        font-size:smaller;
        padding: 10px 14px;
        margin: 4px;
    }
    #texto1{
        padding-top:5%
    }
    section .texto{
        margin-top:20%;
        position:absolute;
        width:77%;
        margin-left:0;
        padding-top: 25%;
    }
    .primeiro_paragrafo p, .segundo_paragrafo p, li, .conteudo_contato p{
        font-size: 13px;
    }
    .destaque_superior{
        font-size:30px;
    }
    .destaque{
        font-size:20px
    }
    .experiencia{
        margin-top:20%;
    }
    .minha_foto img{
        height:200px;
        padding: 0;
    }
    .contatos p{
        font-size:large;
        margin-left:0;
        margin-top: 15px;
    }
    .conteudo_contato{
        display:block;
    }
    .contatos ul{
        text-align:center;
        padding:0;
        margin-top:15px
    }
    .contatos button:active{
        background-color:rgba(128, 126, 126, 0.774);
    }
    .experiencia, .contato{
        padding-top: 90%;
    }
}